<div class="content">
    <h2 class="title is-2">Hello {{{ user.username }}}</h2>
    <p class="subtitle is-4">Your upload limit is {{{ getSizeAndUnit user.uploadsize }}} per file</p>
</div>

<div class="content">
    <h2 class="title is-4">Tool assisted uploads</h2>

    <p><span class="has-text-weight-bold">ShareX:</span> <a href="/lewd.sxcu">Get shareX config</a><br>
        <span class="has-text-weight-bold">curl:</span> <i>curl -X POST -F "file=@FILE_NAME" -H "token: <span
                class="token">{{{ user.token }}}</span>" {{ siteLink }}upload</i><br>
        <span class="has-text-weight-bold">linux script:</span> <a
            href="//github.com/Kattus/scripts/blob/master/lewd.sh">katt's screenshotter and file uploader</a></p>
</div>

<div class="content">
    {{#if message.token}}
    <article class="message is-success">
        <div class="message-header">
            <p>Token changed</p>
        </div>
        <div class="message-body">
            {{{ message.token }}}
        </div>
    </article>
    {{/if}}
    {{#if errors.token}}
    <div class="notification is-danger">
        {{{ errors.token }}}
    </div>
    {{/if}}
    <h2 class="title is-4">Change your token</h2>
    <section class="columns">
        <div class="column is-3">
            <form action="/user/change-token" method="POST">
                <input type="hidden" name="id" value="{{{ user.id }}}">
                <input type="hidden" name="token" value="{{{ user.token }}}">
                <input type="submit" class="button is-danger" value="Click me to change token">
            </form>
        </div>

        {{!-- <div class="column">
            <!-- TODO Add countdown -->
            <p>You have {{{ user.TokenGenerated }}} until you can change the token again</p>
        </div> --}}
    </section>
</div>

<div class="content">
    <h2 class="title is-4">Change password</h2>

    {{#if message.passwordChanged}}
    <article class="message is-success">
        <div class="message-header">
            <p>Password Changed</p>
        </div>
        <div class="message-body">
            {{{ message.passwordChanged }}}
        </div>
    </article>
    {{/if}}

    <form action="/user/change-password" method="POST">
        <section class="content">
            {{#if message.incorrectOldPassword}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>You typed the wrong password</p>
                </div>
                <div class="message-body">
                    {{{ message.incorrectOldPassword }}}
                </div>
            </article>
            {{/if}}
            {{#if errors.old-password}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Password error</p>
                </div>
                <div class="message-body">
                    {{{ errors.old-password }}}
                </div>
            </article>
            {{/if}}
            <div class="field">
                <label for="current-password" class="label">Current password</label>
                <div class="control">
                    <input class="input" type="password" id="current-password" maxlength="73" name="old-password">
                </div>
            </div>
        </section>

        <section class="content">
            {{#if errors.new-password}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Password error</p>
                </div>
                <div class="message-body">
                    {{{ errors.new-password }}}
                </div>
            </article>
            {{/if}}
            <div class="field">
                <label for="new-password" class="label">New password</label>
                <div class="control">
                    <input class="input" type="password" id="new-password" maxlength="73" name="new-password">
                </div>
            </div>

            {{#if errors.password-check}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Password error</p>
                </div>
                <div class="message-body">
                    {{{ errors.password-check }}}
                </div>
            </article>
            {{/if}}
            <div class="field">
                <label for="password-check" class="label">New password once again</label>
                <div class="control">
                    <input class="input" type="password" id="password-check" maxlength="73" name="password-check">
                </div>
            </div>
        </section>

        <section class="content">
            <input type="submit" class="button" value="Change password">
        </section>
    </form>
    <br>
    <a class="button" href="/user/logout">Sign Out</a>
</div>