<!-- How to upload -->
<section class="content">
    <h2>Some cool stats</h2>
    {{#if stats}}
        <p>Serving {{ stats.totalUploads }} files totalling {{ stats.uploadSize }} {{stats.uploadUnit}}</p>
        <p>Today there have been {{ stats.uploadsFromToday }} uploads</p>
        <p>And on average there are {{ stats.averageFileCountPrDay }} uploads per day</p>
    {{else}}
        <p>No files have been uploaded yet :<</p>
    {{/if}}
</section>

<!-- How to upload -->
<section class="content">
    <h2>These are ways you can upload</h2>
    <p>First you must log in!</p>
</section>

<!-- Transparency Link -->
<section class="content">
    <h2>Link to transparency</h2>
    <a href="/transparency">Click me</a>
</section>

<!-- Who's behind it all -->
<section>
    
</section>
