<!-- Limits -->
<section class="content">
    <h2>What limits are there?</h2>
    <p>Files are kept for {{{ timeFileCanStayAlive }}} after being uploaded.</p>
    <p>Storage is only limited per file, and specific for each user, but the default is 5 GiB.<br>
    This means, in theory you could upload 1000x 5 GiB files and fill the server, but please don't.</p>
</section>

<!-- Statistics for nerds -->
<section class="content">
    <h2>Some cool stats</h2>
    {{#if stats}}
    <p>Serving {{ stats.totalUploads }} files totalling {{ stats.uploadSize }} {{stats.uploadUnit}}<br>
        Today there have been {{ stats.uploadsFromToday }} uploads<br>
        And on average there are {{ stats.averageFileCountPrDay }} uploads per day</p>
    {{else}}
    <p>No files have been uploaded yet.</p>
    {{/if}}
</section>

<!-- FAQ -->
<section class="content">
    <h1>FAQ</h1>

    <h2>How to get an invite</h2>
    <p>You can apply in the #apply channel on Discord, you will then have to wait for an admin to review your
        application.<br>
        If you haven't gotten a reply within 24 hours give katt a nudge.</p>

    <h2>What gets my access revoked?</h2>
    <p>If you're caught uploading shitloads of CP or some shit your account will be terminated without trial.<br>
        Excessive amounts of Google bitching at me for your uploads will also get you banned.</p>

    <h2>I forgot my password</h2>
    <p>Send a DM to katt using the same account you applied with, and you'll get a reset key.</p>

    <h2>I've found a bug, missing feature etc!</h2>
    <p>Please submit a ticket at GitHub describing the best you can what's going on and what <b>should</b> be going on.
    </p>

    <h2>Boohoo I've been banned ;((</h2>
    <p>Tough shit, try not abusing your privilege in the future.</p>

    <h2>ShareX doesn't work and I'm running Windows 7 or 8</h2>
    <p>Known problem, upgrade to Linux or sell your soul to Windows 10.<br>
        If you decide to go against the above options, try uploading via website or curl.</p>
</section>