{{#if transparencyElements}}
<table class="table is-fullwidth is-hoverable">
    <thead>
        <th>Date</th>
        <th>File Name</th>
        <th>Hash</th>
        <th>Type</th>
        <th>Origin</th>
    </thead>
    <tbody>
        {{#each transparencyElements as |transparency|}}
        <tr>
            <td>{{{ dateFormatter transparency.Date }}}</td>
            <td>{{  transparency.FileName           }} </td>
            <td>{{  transparency.FileHash           }} </td>
            <td>{{{ typeFormatter transparency.Type }}}</td>
            <td>{{  transparency.Origin             }} </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2>No bad files on record.</h2>
{{/if}}