{{#if errors.token}}
    <div class="notification is-danger">
        {{{ errors.token }}}
    </div>    partial menuItem
{{/if}}

{{#if message.userAdded}}
    <div class="notification is-success">
        {{{ message.userAdded }}}
    </div>    
{{/if}}


{{#if user.username}}
    <div class="is-hidden" id="uploadSize">{{ user.uploadsize }}</div>
{{else}}
    <div class="is-hidden" id="uploadSize">{{ maxUploadSize }}</div>
{{/if}}

<form method="post" action="/upload" class="theUploader" id="uploader">
    <div class="dz-message" data-dz-message>
        <span>Click to select files or drag them here</span>
    </div>

    {{#if user.username}}
        <input id="token" type="hidden" name="thetoken" value="{{ user.token }}">
    {{else}}
        <input id="token" type="hidden" name="thetoken" value="default">
    {{/if}}
</form> 

<div id="uploads" class="section"></div>

<script src="/JS/dropzone.js"></script>
<script src="/JS/index.js"></script>