<!DOCTYPE html>
<html style="background-image: url({{{waifu}}});" id="waifu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lewd.se!</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <script defer src="/JS/fontawesome.js"></script>
  </head>
  <body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <p href="/" class="title is-3">{{{ siteName }}}</p>
                </a>

                <a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="nav-items">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="nav-items">
                <div class="navbar-end">        
                    <div class="navbar-item"><a href="/transparency">Transparency</a></div>
                    <div class="navbar-item"><a href="/info">Info</a></div>
                    {{#if user.username}}
                        <div class="navbar-item"><a href="/user">{{user.username}}</a></div>
                    {{else}}
                        <div class="navbar-item"><a href="/login">Sign In</a></div>
                    {{/if}}
                    <div class="navbar-item"><a href="https://discordapp.com/invite/AKGeqgN">Discord</a></div>
                </div>
            </div>
        </nav>

        {{!-- <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-start navbar-menu">
                    <div class="navbar-item">
                        <a href="/" class="title is-3">{{{ siteName }}}</a>
                    </div>
                </div>
                <div class="navbar-end">        
                    <div class="navbar-item"><a href="/transparency">Transparency</a></div>
                    <div class="navbar-item"><a href="/info">Info</a></div>
                    {{#if user.username}}
                        <div class="navbar-item"><a href="/user">{{user.username}}</a></div>
                    {{else}}
                        <div class="navbar-item"><a href="/login">Sign In</a></div>
                    {{/if}}
                    <div class="navbar-item"><a href="https://discordapp.com/invite/AKGeqgN">Discord</a></div>
                </div>
            </div>
        </nav> --}}
    </header>
    <main class="section">
         <!--[if IE]>
        <section class="container">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Dude wtf???</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <p>For your own sanity install either firefox, chrome, opera, or something much better.</p>
                </div>
            </article>
        </section>    
        <![endif]--> 

        <section class="container">
            {{{ body }}}
        </section>

        <noscript>
            <section class="container">
                <article class="message is-warning">
                    <div class="message-header">
                        <p>So you have disabled Javascript</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        <p>ayy ya need the scripts of java to view this shite, come back when yer less paranoid cheers lad</p>
                    </div>
                </article>
            </section>
        </noscript>
        <script src="/JS/main.js"></script>
    </main>
  </body>
</html> 