<form action="/register" method="POST">
    <div class="field">
        {{#if errors.token}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Token</p>
                </div>
                <div class="message-body">
                    {{{ errors.token }}}
                </div>
            </article>  
        {{/if}}
        <label for="username" class="label">Token provided by Katt</label>
        <div class="control">
            <input type="text" class="input" name="token" disabled="disabled" value="{{{ token }}}">
            <input type="hidden" class="input" name="token" readonly="readonly" value="{{{ token }}}">
        </div>
    </div>

    <div class="field">
        {{#if errors.username}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Username</p>
                </div>
                <div class="message-body">
                    {{{ errors.username }}}
                </div>
            </article>  
        {{/if}}
        <label for="username" class="label">Username</label>
        <div class="control">
            <input type="text" class="input" name="username" placeholder="Username">
        </div>
    </div>

    <div class="field">
        {{#if errors.password}}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Password</p>
                </div>
                <div class="message-body">
                    {{{ errors.password }}}
                </div>
            </article>  
        {{/if}}
        <label for="password" class="label">Password</label>
        <div class="control">
            <input type="password" class="input" name="password" placeholder="password">
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-link" value="Add user">
        </div>
    </div>
</form>