{{#if uploads}}
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="Filename">Name</abbr></th>
                <th><abbr title="UploadDate">Date</abbr></th>
                <th><abbr title="Duplicate">Duplicate</abbr></th>
                <th><abbr title="Virus">Virus</abbr></th>
                <th><abbr title="Passworded">Password Protected</abbr></th>
                <th><abbr title="Delete">Delete</abbr></th>
            </tr>
        </thead>
        <tbody>
            {{#each uploads}}
                <tr>
                    <td>{{{ this.originalname }}}</td>
                    <td>{{{ this.uploaddate }}}</td>

                    {{#if this.duplicate}}
                        <td class="">Yes</td>
                    {{else}}
                        <td class="">No</td>
                    {{/if}}

                    {{#if this.virus}}
                        <td class="">>:(</td>
                    {{else}}
                        <td class="">Clean</td>
                    {{/if}}

                    {{#if this.passworded}}
                        <td class="">>:(</td>
                    {{else}}
                        <td class="">No</td>
                    {{/if}}

                    <td><a href="/delete/{{{ this.deletionkey }}}" class="button is-danger">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <h1>You haven't uploaded any files :<</h1>
{{/if}}